<% provide(:title, "How it works")%>
<div id="how_banner">
  <%= image_tag(11,alt:Boxd)%>
</div>

<div class="how_sections grey">
  <div class="left_side">
    <h1>what's in the box?</h1>
    <%= image_tag(13,alt:"how boxd works",class:"open_box")%>
  </div>

  <div class="right_side">
    <p>
      Depending on the choice of your order,you either get a fully
         prepared meal or a box of
        fresh ingredients to prepare the meal yourself.
    </p>
  </div>

</div>

<div class="how_sections">
  <div class="right_side">
    <h1>how do orders work?</h1>
    <%= image_tag(12,alt:"how boxd works",class:"closed_box")%>
  </div>

  <div class="left_side">
    <p>
      You need to place all orders at least 24hours<br>before the
      expected delivery time in<br>order to keep ingredients
       and meals as fresh as possible.
    </p>
  </div>
</div>

<div class="how_sections grey">
  <div class="left_side">
    <h1>how secure is my information?</h1>
    <%= image_tag('#',alt:"how boxd works",class:"closed_box")%>
  </div>

  <div class="right_side">
    <p>Your information is secure with us,<br>third parties will
      not have access to this information.
    </p>
  </div>
</div>

<div class="how_sections">
  <div class="right_side">
    <h1>our customer care team is here for you</h1>
    <p>How can we help you?<br>If you have any comments or questions, be sure to<br>
      reach out to us and we assure you of our prompt response.
    </p>
  </div>

  <div class="left_side">
    <%= image_tag(14,alt:'Boxd customer care',id:"how_can_I_help")%>


  </div>

</div>
