<div id='banner_home'>
  <%= image_tag("food-park-banner0.jpg", alt:"Home Banner", id:'home_banner')%>
  <div id="our_meals_button">
    <%= link_to 'our meals', '#', id:'our_meals_banner'%>
  </div>
</div>


  <h1 id="how_heading">how it works</h1>
<div id="how_descriptions">
  <div class="how_descriptions">
    <%= image_tag('#', alt:'We deliver')%>
    <h3>we deliver</h3>
  </div>

  <div class="how_descriptions">
    <%= image_tag('#', alt:'We box')%>
    <h3>we box</h3>
  </div>

  <div class="how_descriptions">
    <%= image_tag('#', alt:'You crave')%>
    <h3>you crave</h3>
  </div>


</div>
