<div id='banner_home'>
  <%= image_tag(4, alt:"Home Banner", id:'home_banner')%>
  <div id="our_plans_button">
    <%= link_to 'our plans', our_plans_path, id:'our_plans_banner'%>
  </div>
</div>

<div>
    <h1 id="how_heading">how it works</h1>
</div>

<div id="how_descriptions">
  <div class="how_descriptions">
    <%= image_tag('#', alt:'We deliver')%>
    <h3>we deliver</h3>
  </div>

  <div class="how_descriptions">
    <%= image_tag('#', alt:'We box')%>
    <h3>we box</h3>
  </div>

  <div class="how_descriptions">
    <%= image_tag('#', alt:'You crave')%>
    <h3>you crave</h3>
  </div>


</div>
<div id="button_more">
  <%= link_to "more", how_it_works_path, id:"more_button"%>
</div>


<div id='banner_home2'>
  <%= image_tag(2, alt:"Home Banner", id:'home_banner2')%>
  <div id="our_meals_button2">
    <%= link_to 'our meals', meals_path, id:'our_meals_banner2'%>
  </div>

</div>
