<div id="cart_row">
  <ul>
    <li  id="cart_item_info">
        <%= link_to (image_tag meal.image.thumb.url, id: "cart_image"), meal%>
        <h4><%= meal.name %></h4>
        <h4 >Price: <span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
        <%= form_for order_item, remote: true do |f| %>
          <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
          <%= f.hidden_field :meal_id, value: meal.id %>
          <%= f.submit "Update Quantity"%>
        <% end %>
        <p id="cart_ingredients"><span>Ingredients: </span><%= meal.ingredients%></p>
          <hr>
    </li>

    <li  id="cart_item_aside">
          <%= link_to (image_tag "closeicon", alt: "remove from cart", id: "remove_from_cart"), order_item, { data: { confirm: "Are you sure you wish to delete the meal '#{order_item.meal.name}' from your cart?" }, method: :delete, remote: true } %>

    </li>
  </ul>
</div>
