<div >

  <div>
    <div >
      <%= link_to (image_tag meal.image.thumb.url, id: "cart_image"), meal%>
      <h4><%= meal.name %></h4>
    </div>
    <div>

      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Price:<%= number_to_currency meal.price %></h4>
        <div >
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div>
            <%= f.hidden_field :meal_id, value: meal.id %>
            <%= f.submit "Add to Cart"%>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
