<div id="new_meal_holder">
  <%= form_for @meal, html: {multipart: true}, url: {action: "create"} do |f|%>
    <% if @meal.errors.any?%>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error")%> Stopped this meal from being saved:</h2>

      <ul>
        <%= @meal.errors.full_messages.each do |message|%>
          <li><%message%></li>
        <%end%>
      </ul>
    </div>
    <%end%>

    <ul>
      <li><%= f.file_field :image, placeholder: "image" %></li>
      <li><%= f.text_field :name, placeholder: "name"%></li>
      <li><%= f.number_field :price, placeholder: "price"%></li>
      <li><%= f.text_field :ingredients, placeholder: "ingredients"%></li>

      <li>
        <%= f.label :active%>
        <%= f.check_box :active%>
      </li>

      <li>
        <%= f.label :available_now%>
        <%= f.check_box :available_now%>
      </li>
      <li><%= f.submit "Done"%></li>
    </ul>
  <%end%>
</div>
