<% provide(:title, "Sign up")%>

<div id="new_user_form">
  <%= form_for(@user) do |f| %>
  <ul>
    <li><%= f.text_field :first_name, class:"new_user_form",placeholder:"first name"%></li>
    <li><%= f.text_field :last_name, class:"new_user_form",placeholder:"last name"%></li>
    <li><%= f.email_field :email, class:"new_user_form", placeholder:"email address"%></li>
    <li><%= f.text_field :delivery_address, class:"new_user_form", placeholder:"delivery address"%></li>
    <li><%= f.password_field :password, class:"new_user_form", placeholder:"password"%></li>
    <li><%= f.password_field :password_confirmation, class:"new_user_form", placeholder:"password confirmation"%></li>
    <li><%= f.submit "sign up",class:"new_user_form"%></li>
  </ul>

  <%end%>

</div>
