<footer>
  <div id="links_footer">
    <h3><%=link_to "boxd", index_path%></h3>
    <%=link_to "about boxd", about_path, id: "about_footer"%>
    <%=link_to "how it works", how_it_works_path, id: "how_footer"%>
  </div>


  <div id="subscribe_boxd">
    <input type="text" name="" value="" placeholder="email address">
  </div>


  <div id="social_media">
    <%= image_tag('#',alt:"boxd",id:"twitter_boxd")%>
    <%= image_tag('#',alt:"boxd",id:"facebook_boxd")%>
    <%= image_tag('#',alt:"boxd",id:"instagram_boxd")%>
  </div>

</footer>
