<div id="header" class="">
  <%=link_to image_tag('logo', alt: 'Logo', class: 'logo'), root_path, :id => "logo"%>

  <div id="nav">
    <%= header_data %>
    <%=link_to 'About', about_path%>
    <%=link_to 'FAQs', how_it_works_path%>

    <ul class="dropdown">
      <li id="title">SERVICES</li>
      <li id="content">
        <div id="content_wrapper">
          <%=link_to 'Our meals', meals_path%>
          <%=link_to 'Our plans', our_plans_path%>
        </div>
      </li>
    </ul>

    <% if user_signed_in? %>
    <ul class="dropdown">
      <li id="title">
        <%= "Hello," + " " + current_user.first_name.upcase + " " + current_user.last_name[0].capitalize + "."%>
      </li>
      <li id="content">
        <div id="content_wrapper">
          <%= render 'layouts/cart_text'%>
          <%=link_to "Dashboard", dashboard_path%>
          <%= link_to "Log out",destroy_user_session_path,:method => :delete%>
        </div>
      </li>
    </ul>
    <% elsif admin_signed_in?%>
    <ul class="dropdown">
      <li id="title"><%= current_admin.email %></li>
      <li id="content">
        <div id="content_wrapper">
          <%=link_to "Dashboard", dashboard_path%>
          <%= link_to "Log out",destroy_admin_session_path,:method => :delete%>
        </div>
      </li>
    </ul>
  <% else %>
    <p>
      <%=link_to 'log in', new_user_session_path, class: "button inverse"%>
    </p>
    <% end %>
  </div>
</div>
