<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'BOXD', '#' , id:'boxd_logo'%>
      <nav>
        <ul>
          <li><%=link_to 'OUR MEALS', '#'%></li>
          <li><%=link_to 'ABOUT BOXD', '#'%></li>
          <li><%link_to 'HOW IT WORKS', '#'%></li>
          <li id="login_button"><%link_to 'LOG in', '#'%></li>
        </ul>
      </nav>
    </header>
    <div class="home_banner">
      <img src="" alt="">
    </div>
    <%= yield %>
  </body>
</html>
